<template>
    <header>
        <h2>TodoList</h2>
    </header>
</template>
<script>
export default {
    name: 'Header'
}
</script>
<style>
.header {
    background: #333;
    color:#fff;
    text-align: center;
    padding: 10px;
}
.header a {
    color: #fff;
    padding-left: 5px;
}
</style>
